body {
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    color: aliceblue;
    opacity: 0.83;
    background: linear-gradient(lightpink 0%, mediumpurple 100%);
    display: table;
    width: 100%;
    height: 800px;
    text-align: center;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
}
h2{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
}
#name{
    font-size: 30px;
    line-height: 1.2;
}
#bio{
    padding: 50px;
    text-align: center;
}